.forget-password-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.forget-email-input {
  width: 50%;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.actions {
  display: flex;
  justify-content: center;
}

.forget-email-submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.3rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.forget-email-submit-button:hover {
  background-color: #0069d9;
}
